<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.learning.RestAssured.testScripts.TestCase1_PostMethod"/>
      <class name="com.learning.RestAssured.testScripts.TestCase2_GETAllMethod"/>
      <class name="com.learning.RestAssured.testScripts.TestCase3_GETParticular"/>
      <class name="com.learning.RestAssured.testScripts.TestCase4_UpdateMethod"/>
      <class name="com.learning.RestAssured.testScripts.TestCase5_DeleteMethod"/>
      <class name="com.learning.RestAssured.testScripts.TestCase6_GETAllEmployeesAndPrintEmployeeID"/>
      <class name="com.learning.RestAssured.testScripts.TestCase7_GETParticularReqRes"/>
      <class name="com.learning.RestAssured.testScripts.TestCase8_PostMethodReqRes"/>
      <class name="com.learning.RestAssured.testScripts.TestCase9_UpdateMethod_ReqRes"/>
      <class name="com.learning.RestAssured.testScripts.TestCase10_DeleteMethod_ReqRes"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
